{% load staticfiles %}
{% url 'general:events' as events_url %}

<div class="container-content">
    <h4>2022 - 2023 Kate Alm Suzuki Piano Studio Calendar</h4>
{#    <h4>Remaining Events for the 2022 School Year</h4>#}
{#    <strong>In person and on Zoom</strong>#}

<div>
    Recitals
    <ul>
        <li>Saturday, October 29 (Sanctuary), 11 AM Studio Recital</li>
        <li>Saturday, February 11 (Sanctuary), 11 AM Duets Recital</li>
        <li>Saturday,  May 13 (Sanctuary), 11 AM Studio Recital</li>
    </ul>

    <br>

    New this year: All grades K-12 (mandatory for teens) Recital Preparation 3-5 PM in the Sanctuary: scheduled in 20 minute increments. Regularly scheduled lessons will be moved to accommodate this much-needed opportunity for all.
    <ul>
        <li>Wednesday, October 12</li>
        <li>Wednesday, May 3</li>
    </ul>

    <br>


    Musical Open House: Saturday, December 17, 10:30 AM - 12 PM (Music Room)


    <br><br>

All Studio Classes (K-6):
    <ul>

        <li>Saturday Schedule:</li>
        <ul>
            <li>Grades K-3: 9 - 10 AM. </li>
            <li>Grades 4-6: 9:45 - 10:45 AM.</li>
            <li>Social: 9:45 - 10 outside. Classes overlap by design.</li>
        </ul>
        <li>Wednesday Schedule:</li>
        <ul>
            <li>Grades K-3: 3 - 4 PM. </li>
            <li>Grades 4-6: 3:45 - 4:45 PM.</li>
            <li>Social: 3:45 - 4 outside. Classes overlap by design.</li>
        </ul>
        <li>Dates:</li>
        <ul>
            <li>Saturday, September 10</li>
        <li>Saturday, November 12</li>
            <li>Wednesday, January 4</li>
        <li>Wednesday March 29</li>
        <li>Wednesday, May 24</li>
        </ul>

    </ul>


Rehearsals for Books 3 and Up / Grades 5 and Up for the Duets Recital:
    <ul><li>January 21</li>
    <li>January 28</li>
    <li>February 4</li>
    <li>February 8, Sanctuary 3 - 5 (replaces group classes)</li>
    </ul>

    Studio closed:
    <ul>
    <li>November 21 - 25</li>
        <li>December 20 - January 2 (Lessons <em>are</em> taught on December 19)</li>
        <li>February 13 - 18</li>
        <li>April 3 - 8</li>
    </ul>

    Complementary Make-up Saturdays 9 AM - 1 PM:
    <ul>
        <li>Jan 7</li>
        <li>March 11</li>
        <li>April  22</li>
        <li>May 27</li>
    </ul>

    <p>Please note: All scheduled Saturdays (except for the 3 recitals) are available 11 AM - 1 PM for Sick Make-ups, Courtesy Make-ups, Thursday Make-ups (Kate has limited availability on Thursday February 9th and is unavailable on Thursday May 25th), and Complementary Lessons to offset Kate's added February closure.</p>
</div></div>
