{% load staticfiles %}
{% url 'general:events' as events_url %}

<div class="container-content">
    <h4>2022 - 2023 Kate Alm Suzuki Piano Studio Calendar</h4>
{#    <h4>Remaining Events for the 2022 School Year</h4>#}
{#    <strong>In person and on Zoom</strong>#}

<div>
    Recitals
    <ul>
        <li>Saturday, October 29 (Sanctuary), 11 AM Studio Recital</li>
        <li>Saturday, February 11 (Sanctuary), 11 AM Duets Recital</li>
        <li>Saturday,  May 13 (Sanctuary), 11 AM Studio Recital</li>
    </ul>

    Musical Open House: Saturday, December 17, 10:30 AM - 12 PM (Music Room)


K-6 All Studio Classes: Grades K-3, 9-10 AM. Grades 4-6, 9:45-10:45 AM. Social 9:45-10 outside.
    <ul>
    <li>September 10</li>
        <li>November 12</li>
        <li>January 4  (Wednesday, 3:00-4:00 and 3:45-4:45)</li>
        <li>March 29 (Wednesday, 3:00-4:00 and 3:45-4:45)</li>
        <li>May 24  (Wednesday, 3:00-4:00 and 3:45-4:45)</li>
    </ul>

    Teen Class: Grades 7 - 12, 4-5 PM in the Sanctuary to prep for the Recital
    <ul>
        <li>October 12</li>
        <li>May 3</li>
    </ul>


Rehearsals for Books 3 and Up / Grades 5 and Up for the Duets Recital:
    <ul><li>January 21</li>
    <li>January 28</li>
    <li>February 4</li>
    <li>February 8, Sanctuary 3 - 5 (replaces group classes)</li>
    </ul>

    Studio closed:
    <ul>
    <li>November 21 - 25</li>
        <li>December 20 - January 2</li>
        <li>February 13 - 18</li>
        <li>April 3 - 8</li>
    </ul>

    <p>Please note: All scheduled Saturdays (except for the 3 recitals) are available 11 AM - 1 PM for Sick Make-ups, Courtesy Make-ups, Thursday Make-ups (Kate has limited availability on Thursday February 9th, Thursday April 6th, and is unavailable on Thursday May 25th), and Complementary Lessons to offset Kate's added February closure.</p>
</div></div>
