{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    <div class="container-layout">
            <div class="container-content">

            <div class="container-content">
                <div>
Inviting all interested singers age 6-16:
                    <ul>
                        <li>8 Rehearsals, in BOTH Santa Cruz Saturdays (2:00-3:15) and Watsonville (12-1:00).</li>
                        <li>2 performances, one in each city.</li>
                        <li>Rehearsals begin March 25</li>
                        <li>Registration open through April 15.</li>
                    </ul>
                    Uplifting, positive message songs. Expressive Movement taught by Eugenia Rice.
                    <br>
                    Musical Direction: Kate Saphir, with Coleaders including Alexandra the Author, August Lee Stevens, and dedicated choir Moms (Kate can and will train interested parents!).
                    <br>
                    Cost: $20 donation suggested per family
                    <br>
                    Harmony Youth Choir - one part of the trio of Kate Saphir’s Musical Soulmates (Suzuki Piano Studio, Harmony Youth Choir, and Performer’s Collective), nurtures the whole child through music. Each session builds community through disciplined and joyful music making. Students receive vocal training, learn diction, movement, positive message songs, music reading through hand motions, and ear training from coleaders. The Harmony Youth Choir develops the next generation of youth leaders in music while closing the racial gap in performance representation as young as six years old, and cultivates resilience and joy.
{#                    <center><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/HYC_poster4_FINALHR.png" alt="Harmony Youth Choir Poster" width="65%"/></center>#}
                    <center><video style="width: 75%" autoplay="true" muted="true"><source src="https://ka-static-media.s3.us-west-2.amazonaws.com/static/media/hyc_30sec_video.mov"></video></center>
                    <center><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc2023_watsonville.png" alt="Harmony Youth Choir Poster" width="45%"/>
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc2023_sc.png" alt="Harmony Youth Choir Poster" width="45%"/></center>
                </div>
            </div>


                <div style="margin-left: 30px; margin-right: 30px;">

                    <h3>Harmony Youth Choir Debut (May 2022):</h3>

<div style="text-indent: 5rem">The Harmony Youth Choir debuted at the Music in May Community Music event at Starlight Elementary in Watsonville. The choir had had eight rehearsals, every rehearsal was co-lead by coleader, and each rehearsal had a guest musical contributor.The songs themselves were uplifitng, represented composers of color and covered a huge range (from ancient hymn, to Ba’hai faith, to new soul India.Arie and contemporary composers) All co leaders and contributors were, per the goal of HYC, people of color, and  they broadened the learning greatly with their expertise, youth, and perspective, and their ability to relate to the choir, which is, by design, majority BIPOC.
</div><br>
<div style="text-indent: 5rem">Thanks to a  fundraising show by Kate’s Juneteenth Collective and to support from Music in May, every coleader and guest artist was paid for their time.
</div><br>
<div style="text-indent: 5rem">
Collaborating with the world class musicians of Music in May festival was the culmination of a shared dream that Rebecca Jackson, founder, musical director, and performer for Music in May, Kate had brought to fruition.
</div><br>
<div style="text-indent: 5rem">
When our choir director became ill, it was with profound joy and gratitude for our Suzuki community that I was able to call on Suzuki mom, Leticia, to direct the choir, and on former Suzuki piano student and current site manger, Eli Gilbert, to play piano for two of the songs. He actually learned the piano parts before flying back to California from college (he is at Yale University) to join us.
</div>

                    <section>
        <div class="container-content">
            <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc1.jpg" alt="HYC Performance - Kate Conducting"/>
            <br><br><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc2.jpg" alt="HYC Performance - with Music in May"/>
            <br><br><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc3.jpg" alt="HYC Performance"/>
            <br><br>Photos by Kevin Monahan, 2022 (<a href="mailto:kevin.monahan@me.com">kevin.monahan@me.com</a>)
            <br><br><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc_april1_poster.png" alt="Harmony Youth Choir Concert Poster"/>
        </div>
    </section>



                <h3>Harmony Youth Choir Fact Sheet:</h3>
                    <p>Details for 2022 - 2023 season to be announced September 1. <a href="mailto:almusic@cruzio.com">Email Kate</a> if you are interested in joining.</p>
{#<ul>#}
{#    <li>Ages 6-16</li>#}
{#    <li>Santa Cruz: Saturdays, March 26-May 21, 2:00-3:15</li>#}
{#    <li>#}
{#    <ul>#}
{#<li>Everyone’s Music School: 3627 Portola Dr, Santa Cruz, CA 95062</li>#}
{#        </ul>#}
{#    </li>#}
{#    <li>Watsonville Component: 3-4 on Sundays, location place available from Kate</li>#}
{##}
{#    <li>Saturday Rehearsals my be Zoomed</li>#}
{##}
{#    <li>High Profile Performance: Music in May Festival,  Early Evening of Thursday May 26, Watsonville</li>#}
{#    <li>Dress Rehearsal with Music in May Musicians : Early Evening of Tuesday, May 24th, Watsonville</li>#}
{#<br>#}
{#    <li>Serving  majority BIPOC/Underserved Youth</li>#}
{#    <li>Served by Majority BIPOC instructors</li>#}
{#    <li>Every Santa Cruz Rehearsal will include a BIPOC Guest Musician who will speak and share a Musical Experience with the youth</li>#}
{#    <li>No Auditions</li>#}
{#    <li>Cost: $2.50/rehearsal/child; $5.00 per rehearsal for family unit (siblings/cousins)</li>#}
{#    <li>You need not attend every rehearsal</li>#}
{#    <li>You will be able to access the recordings of the songs and recorded parts</li>#}
{#</ul>#}

<h3>About the Director and the vision for Harmony Choir:</h3>
<div style="text-indent: 5rem">
The Harmony Choir grew out of a vision that Kate and Rebecca Jackson, founder of Music in May, share for serving underserved youth through music. Therefore the first performance of the Harmony Choir will be on the Music in May stage on Thursday May 26th, in Watsonville at their Community Concert.
</div>
    <br><div style="text-indent: 5rem">
After a lifetime of Classical training and graduating from San Francisco Conservatory as a pianist, Kate had a musical awakening when attending the Santa Cruz Missionary Baptist Church. For 30 years, she has remained dedicated to Gospel music, and has also invested 30 years in learning how to teach piano effectively, nurturing, through the Suzuki philosophy  students and their families. A member of Gospel Music workshop of America for 18 years, She has founded and taught Youth Gospel Choirs for decades here in Santa Cruz, most notably the MLK, Jr. Gospel Choir which performed, with Sista Monica, in 2003 on the stage of the Civic Center for the UCSC MLK Convocation.
</div>
    <br><div style="text-indent: 5rem">
After George Floyd and a re-awakening to the contemporary Santa Cruz Black community, she was moved to form her Juneteenth Collective to skillfully support BIPOC singers on the Juneteenth Santa Cruz  stage to deliver American masterpiece songs of Freedom , Joy ,and Protest by such artists as Lauryn Hill, Nina Simon, and Common. She has asked her Collective to collaborate with her in order to pass on the joy and freedom of musical expression to majority BIPOC Youth, and is expanding her vision by inviting these amazing BIPOC musicians to co-lead the youth choir. The program is  paying the mentors and speakers, all BIPOC, and giving them exposure and experience even while serving the BIPOC youth for almost no charge; Harmony Youth Choir is supported by  Everyone’s Music School , Santa Cruz ( a Black owned business) and Music in May.
</div>
    <br><div style="text-indent: 5rem">
The Collective itself will give a show to raise funds for the choir, on April 1st. 5-7 at Greater Purpose Brewery (all ages). The Collective will be again performing songs suitable to a Juneteenth celebration- this time including originals as well as masterpieces by Erika Baydu, India.Arie and others. as well as performing some of the songs they will be teaching the youth.
            <br><br>
            </div></div>


    </div>
{% endblock main_text %}
