{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Musical Soulmates{% endblock page_title %}
{% block include_stylesheet %}
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.theme.default.css' %}">
{% endblock include_stylesheet %}

{% block main_text %}
    <div class="container-layout">
{#                <audio autoplay loop>#}
{#                   <source src="https://s3-us-west-2.amazonaws.com/ka-public/Aquarium.mp3">#}
{#                </audio>#}

            <section>
                <div class="container-content">
                        <a href="https://www.katealmsuzukipianostudio.com/new-students"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/in_community_poster_feb2024.jpeg" width="45%" class="img-fluid img-thumbnail image-shadow"/></a>
                        <a href="https://www.katealmsuzukipianostudio.com/harmonyyouth"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/hyc_2023_24_poster.jpeg" width="45%" class="img-fluid img-thumbnail image-shadow"/></a>
                        <a href="https://www.katealmsuzukipianostudio.com/musicalsoulmates"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/performers_collab_2023_24 poster.jpeg" width="45%" class="img-fluid img-thumbnail image-shadow"/></a>
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/theodore_poster_feb2024.jpeg" width="45%" class="img-fluid img-thumbnail image-shadow"/>
     <br><br>
                Musical Soulmates: Suzuki Soulmates Piano Studio, Harmony Youth Choir, and the Musical Soulmates Performer’s Collective cultivate joy, healing, and connection through both process and performance. The Musical Soulmates programs showcase a kaleidoscopic range of music and often include visual art, spoken word and poetic embodiment.
                <br><br>
                    <a href="{% url 'general:immersion' %}">Musical Soulmates Suzuki Piano Studio</a> cultivates a sense of belonging for every child. Each child experiences unconditional acceptance, is supported by teacher, parent and peers, and learns at at their own pace with confidence and with joy.
                <br><br>
                <a href="{% url 'general:harmonyyouth' %}">Harmony Youth Choir</a>: Young BIPOC singers come together to experience and learn quality music that centers Black diaspora culture and heritage and amplifies empowerment, hope, and love.
                <br><br>
                <a href="{% url 'general:musicalsoulmates' %}">Performer's Collaborative</a>Our mission is to represent and honor the foundational offerings to music by Black composers and songwriters, to cultivate authentic relationships among the performers and in community, and to radiate a vibrant presence modeling diversity and delivering empowerment, healing and joy.
{#                Musical Soulmates Performer’s Collective Presents: <strong>"Let the Caged Bird Sing"</strong>, in honor of survivors, at the Walnut Avenue Women’s Center, Sunday, April 23, 5:00-6:30. Light refreshments provided. Come and hear our collective of 15 local singers and band, presenting songs of healing, resilience and empowerment by such writers as Erykah Badu, India.Arie, and many many more.#}
                 <br><br>
                </div>
            </section>

            <section id="new-students">
                <header id="banner-documents">Contact Me!</header>
                <div class="row container-content justify-content-center">
                    <ul>
                    <li><strong>Email</strong> is the appropriate way to keep me in the loop about trading times with other families <a href="mailto:almusic@cruzio.com">almusic@cruzio.com</a>. </li>
                    <li><strong>Phone Call</strong> is the appropriate way to alert me about that day's unplanned absence <a href="tel:+18312277535">831-227-7535.</a> </li>
                    <li><strong>In person</strong> at the lesson is the appropriate way to discuss any concerns or questions about your child's progress or any permanent scheduling changes. If you have had problems practicing well with your child, for example, or you want to express important information about your child's needs, please mention this to me at the beginning of the lesson and we will discuss it then or at the end. In most cases, if you feel you need privacy from your child, you can simply ask your child to wait outside.</li></p>
                    </ul>
                </div>
            </section>
    </div>


{% endblock main_text %}