{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Musical Soulmates{% endblock page_title %}
{% block include_stylesheet %}
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.theme.default.css' %}">
{% endblock include_stylesheet %}

{% block main_text %}
    <div class="container-layout">
                <audio autoplay loop>
                   <source src="https://s3-us-west-2.amazonaws.com/ka-public/Aquarium.mp3">
                </audio>

            <section>
                <div class="container-content">
                    <center><a href="https://www.eventbrite.com/e/homecoming-celebration-tickets-627446688937"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/May13_HomecomingCelebration.jpg" alt="May 13 Homecoming Celebration Poster" width="45%" class="img-fluid img-thumbnail image-shadow"/></a>
                        <a href="https://www.eventbrite.com/e/coming-home-tickets-627496016477"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/May14_ComingHome.jpg" alt="May 14 Coming Home Poster" width="45%" class="img-fluid img-thumbnail image-shadow"/></a></center>
     <br><br>
                Musical Soulmates: Suzuki Soulmates Piano Studio, Harmony Youth Choir, and the Musical Soulmates Performer’s Collective cultivate joy, healing, and connection through both process and performance. The Musical Soulmates programs showcase a kaleidoscopic range of music and often include visual art, spoken word and poetic embodiment.
                <br><br>
                    <a href="{% url 'general:immersion' %}">Musical Soulmates Suzuki Piano Studio</a> implements the philosophy of <a href="https://suzukiassociation.org/about/suzuki-method/">Shinichi Suzuki</a> that develops the natural ability of every child to learn and master the art of music, and infuses love, skill, and creative engagement in music learning, nurturing the whole child. It is based on the “Suzuki Triangle” of Parent, Teacher and Child and creates an entire musical environment to nurture the child.
                <br><br>
                The cultivation of resilience is our commitment that runs through our <a href="{% url 'general:harmonyyouth' %}">Harmony Youth Choir</a>, developing the next generation of youth leaders in music while closing the racial gap in performance representation as young as six years old.
                <br><br>
                <a href="{% url 'general:musicalsoulmates' %}">Musical Soulmates Performer's Collective</a>, rich in representation of composers, song writers, and performers of color, and benefitting organizations serving the underserved in Santa Cruz County, cultivates a process of community connection to deliver an authentic masterpiece captured in the joy of performing. Musical Soulmates Performer’s Collective  presents concerts of high caliber, of radical collaboration, and of joy.
                Musical Soulmates Performer’s Collective Presents: <strong>"Let the Caged Bird Sing"</strong>, in honor of survivors, at the Walnut Avenue Women’s Center, Sunday, April 23, 5:00-6:30. Light refreshments provided. Come and hear our collective of 15 local singers and band, presenting songs of healing, resilience and empowerment by such writers as Erykah Badu, India.Arie, and many many more.
                 <br><br>
                </div>
            </section>

            <section id="new-students">
                <header id="banner-documents">Contact Me!</header>
                <div class="row container-content justify-content-center">
                    <ul>
                    <li><strong>Email</strong> is the appropriate way to keep me in the loop about trading times with other families <a href="mailto:almusic@cruzio.com">almusic@cruzio.com</a>. </li>
                    <li><strong>Phone Call</strong> is the appropriate way to alert me about that day's unplanned absence <a href="tel:+18312277535">831-227-7535.</a> </li>
                    <li><strong>In person</strong> at the lesson is the appropriate way to discuss any concerns or questions about your child's progress or any permanent scheduling changes. If you have had problems practicing well with your child, for example, or you want to express important information about your child's needs, please mention this to me at the beginning of the lesson and we will discuss it then or at the end. In most cases, if you feel you need privacy from your child, you can simply ask your child to wait outside.</li></p>
                    </ul>
                </div>
            </section>
    </div>


{% endblock main_text %}