{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    <div class="container-layout">
        <section>
            <div class="container-content">
                <h3>Just listen to what we can do together!</h3>
                <p>Videos from past recitals:</p>
                <div class="col-12 col-md-9">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="420" height="150" class="embed-responsive-item"  src="https://www.youtube.com/embed/eeujlKr2aTU?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>s
                    </div><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCZO3PxOX4XUKkSmcASjcyVsIleoBsRDd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCZO3PxOX4XWZ0vpJZaUNtM1P1kEicGjz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCZO3PxOX4XXrvRt3BrgujDmSQufcgzIa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="420" height="150" class="embed-responsive-item" src="https://www.youtube.com/embed/jHofkmUzQUE?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div><br>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="420" height="150" class="embed-responsive-item" src="https://www.youtube.com/embed/aB_beJ1uDE0?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>

    </div>
{% endblock main_text %}
